@page "/"

<div class="container overflow-auto shadow-sm mb-5 p-5 bg-white rounded" style="height: 500px">
    @if (!_userMessages.Any())
    {
        <p>Ne messages yet.</p>
    }
    else
    {
        @foreach (var userMessage in _userMessages)
        {
            <div class="row mb-3 d-flex">
                <div class="card shadow" style="width: 18rem">
                    <div class="card-header">
                        @userMessage.Username
                    </div>
                    <div class="card-body">
                        @userMessage.Message
                    </div>
                    <div class="card-footer">
                        <span class="small">@userMessage.DateSent.ToString("HH:mm | MMM dd")</span>
                    </div>
                </div>
            </div>
        }
    }
</div>

<div class="container">
    <div class="row">
        <div class="col-3">
            <input @bind="_usernameInput" type="text" class="form-control" placeholder="Your name" readonly="@_isUserReadonly"/>
        </div>
        <div class="col-6">
            <textarea @bind="_messageInput" class="form-control" placeholder="Start typing..."></textarea>
        </div>
        <div class="col-3">
            <button class="btn btn-primary" @onclick=@Send disabled="@(!IsConnected)">Send Button</button>
        </div>
    </div>
</div>